### General
NEXT_PUBLIC_ROOT_DOMAIN="http://localhost:3000"
NEXT_PUBLIC_PASSWORD_PROTECTION="TBD"
NEXT_PUBLIC_COOKIES_BASE_DOMAIN="localhost"

### Notion
NOTION_API_KEY="Get from Notion API"
NOTION_BOOKMARKS_DATABASE_ID="Get from Notion API"
NOTION_COMPONENTS_DATABASE_ID="Get from Notion API"
NOTION_PAGES_DATABASE_ID="Get from Notion API"
NOTION_CONTACT_FORM_DATABASE_ID="Get from Notion API"

### Plausible Analytics
NEXT_PUBLIC_PLAUSIBLE_DOMAIN="Get from Plausible"

### Release it
GITHUB_TOKEN="Get from GitHub"

### Vercel
YARN_ENABLE_IMMUTABLE_INSTALLS="false"
NEXT_TELEMETRY_DISABLED="1" ### Opt out of Next.js tracking